$body_max_with: 1440px;

$desktop_padding: 40px;
$mobile_padding: 20px;

$mobile_breakpoint: 1024px;
$small_mobile_breakpoint: 768px;

//colors
$prtimary_color: #fed2f1;
$secondary_color: #1e9370;
$terciary_color: #fffae3;
$text_color: #492c1d;
