@use "../utils/variables.scss" as vars;
@import "@fortawesome/fontawesome-free/css/all.min.css";

@import url("bootstrap");
@import url("datatables.net-bs5");
@import url("datatables.net-responsive-bs5");
@import url("datatables.net-select-bs5");

@font-face {
  font-family: "NeutralFace";
  src: url("./assets/fonts/NeutralFace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeutralFace";
  src: url("./assets/fonts/NeutralFace-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Geist", sans-serif;
  padding: vars.$desktop_padding;
  max-width: 100%;
  margin: auto;
  width: vars.$body_max_with;
  overflow-x: hidden;
  background-color: vars.$prtimary_color;
  color: vars.$text_color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "NeutralFace", sans-serif;
    color: vars.$secondary_color;
  }

  select {
    background-color: vars.$terciary_color;
    border-radius: 8px;
    padding: 10px 16px;
    color: vars.$text_color;
  }

  .table-container {
    width: 100%;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      text-align: left;
      border: 0;
    }

    thead {
      white-space: nowrap;
    }

    th {
      border: 0;

      &:hover {
        border: 0;
        outline: 0 !important;
      }
    }

    tr {
      border-bottom: 1px solid rgba(73, 44, 29, 0.3);
    }

    tr:nth-child(even) {
    }

    &.dataTable {
      thead {
        tr {
          th {
            .dt-column-header {
              .dt-column-title {
                margin-right: 8px;
              }
              .dt-column-order {
                &::before {
                  content: "\f0de";
                  font-family: "Font Awesome 5 Free";
                  bottom: 30%;
                }
                &::after {
                  content: "\f0dd";
                  font-family: "Font Awesome 5 Free";
                  top: 30%;
                }
              }
            }
          }
        }
      }

      @media (min-width: vars.$mobile_breakpoint) {
        tbody {
          tr {
            td {
              &:first-child {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                max-height: 39px;
              }
            }
          }
        }
      }
    }
  }
}
