@use "../utils/variables.scss" as vars;

@import url("bootstrap");
@import url("datatables.net-bs5");
@import url("datatables.net-responsive-bs5");
@import url("datatables.net-select-bs5");

@font-face {
  font-family: "NeutralFace";
  src: url("./assets/fonts/NeutralFace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeutralFace";
  src: url("./assets/fonts/NeutralFace-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Geist", sans-serif;
  padding: vars.$desktop_padding;
  max-width: 100%;
  margin: auto;
  width: vars.$body_max_with;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "NeutralFace", sans-serif;
  }

  .table-container {
    width: 100%;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    thead {
      white-space: nowrap;
    }

    th {
    }

    tr:nth-child(even) {
    }
  }




}
